section.dh-about-5#dh-about-5
	.container
		.row.grid-row-10
			.col-12
				h3 Ban lãnh đạo
			- for ( var x = 0; x < 4 ; x++)
				.col-6.col-md-3.grid-col-10
					figure
						.box-zoom
							img(src='./img/about/about_people.jpg', alt='')
						figcaption
							h4 Ông Hà Duy Hưng
							p CHỦ TỊCH HĐQT 