section.dh-tuyendung-2(style="background-image: url('./img/career/career_bg_2.jpg')")
	.container
		h2.h-title.line.text-upper.c-white CHÍNH SÁCH ĐÃI NGỘ
		.row.grid-row-10
			.col-lg-6.grid-col-10
				.content
					h3.text-upper CHẾ ĐỘ LƯƠNG
					.briefcontent
						p Quan điểm trong chiến lược nhân sự của công ty là: tuyển dụng và bổ nhiệm đúng năng lực, đúng vị trí; trả công xứng đáng với năng lực làm việc và thành tích đóng góp.
				.other
					.swiper-button-prev
						span.mdi.mdi-chevron-left
					.swiper-button-next
						span.mdi.mdi-chevron-right
					.swiper-container
						.swiper-wrapper
							- for ( var x = 1; x < 8; x++)
								.swiper-slide( data-aos="fade-right")
									p Xây dựng một chế độ lương, thưởng, phúc lợi cạnh tranh.
								.swiper-slide( data-aos="fade-right")
									p Chế độ thăm viếng, hiếu hỉ các sự kiện của CBNV như: kết hôn, thai sản, sinh nhật, ốm đau iếng, hiếu hỉ các sự kiện của CBNV như: kết hôn, thai sản, sinh nhật, ốm đau
			.col-lg-6.grid-col-10
				.content
					h3.text-upper CHẾ ĐỘ PHÚC LỢI
					.briefcontent
						p Luôn được chú trọng nhằm mang đến cho cán bộ nhân viên môi trường làm việc thoải mái, đoàn kết.
				.other
					.swiper-button-prev
						span.mdi.mdi-chevron-left
					.swiper-button-next
						span.mdi.mdi-chevron-right
					.swiper-container
						.swiper-wrapper
							- for ( var x = 1; x < 8; x++)
								.swiper-slide( data-aos="fade-right")
									p Xây dựng một chế độ lương, thưởng, phúc lợi cạnh tranh.
								.swiper-slide( data-aos="fade-right")
									p Chế độ thăm viếng, hiếu hỉ các sự kiện của CBNV như: kết hôn, thai sản, sinh nhật, ốm đau iếng, hiếu hỉ các sự kiện của CBNV như: kết hôn, thai sản, sinh nhật, ốm đau
