section.dh-about-2(style="background-image: url('./img/about/about_2_bg.jpg')")
	.container
		h2.h-title.line.text-upper.c-white Tầm nhìn - Sứ mệnh
		.row.grid-row-10
			.col-lg.grid-col-10
				.content
					h3.text-upper Tầm nhìn
					.briefcontent
						p Bằng sự nổ lực và sáng tạo của toàn thể cán bộ, công nhân viên. Công ty Cổ phần Công nghiệp Đông Hưng mong muốn trở thành một công ty hàng đầu ở Việt Nam cung cấp giày dép cho người tiêu dùng trong nước và quốc tế.
			.col-lg.grid-col-10
				.content
					h3.text-upper Sứ mệnh
					.briefcontent
						p Sứ mệnh của Công ty Cổ phần Công nghiệp Đông Hưng là cung cấp cho người tiêu dùng Việt Nam và các nước trên thế giới các sản phẩm giày dép với chất lượng tốt, giá thành hợp lý.
		.row
			.col
				.other
					h3.text-upper Sứ mệnh

					.swiper-button-prev
						span.mdi.mdi-chevron-left
					.swiper-button-next
						span.mdi.mdi-chevron-right
					.swiper-container
						.swiper-wrapper
							- for ( var x = 1; x < 8; x++)
								.swiper-slide( data-aos="fade-right")
									p Thấu hiểu để đáp ứng vượt trội nhu cầu của khách hàng.
								.swiper-slide( data-aos="fade-right")
									p Phát huy tính sáng tạo để xây dựng một sân chơi chuyên nghiệp toàn cầu.
