section.dh-truyenthong-1
	.container
		.row.grid-row-10
			.col-12.grid-col-10.main
				figure
					.box-zoom.btn-ripple
						img(src='./img/media/media_1.jpg', alt='')
					figcaption
						h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
						time 10/01/2019
						p Ý thức được vai trò của doanh nghiệp đối với cộng đồng, trong nhiều năm qua, Đông Hưng Group đã nhiệt tình tổ chức và tham gia các hoạt động văn hoá thể thao cộng đồng nhằm kết nối cộng đồng.
						a(href="truyenthong-ct.html").btn.btn-more Chi tiết
			- for ( var x = 0 ; x < 10; x++)
				.col-12.col-sm-6.grid-col-10.sub
					figure
						.box-zoom.btn-ripple
							img(src='./img/media/media_2.jpg', alt='')
						figcaption
							h3 Ông Hà Duy Hưng được bầu làm chủ tịch Hội da giầy TP. HCM
							time 10/01/2019
							a(href="truyenthong-ct.html").btn.btn-more Chi tiết
			.col-12.grid-col-10
				a(href="#").btn.btn-continue Xem tiếp
					span.mdi.mdi-arrow-down
