<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Banner công ty thành viên" value="1" resourcefile="" />
    <add name="Banner lĩnh vực hoạt động sản xuất" value="2" resourcefile="" />
    <add name="Banner lĩnh vực hoạt động logistics" value="4" resourcefile="" />
    <add name="Banner lĩnh vực hoạt động thương mại" value="8" resourcefile="" />
    <add name="Banner lĩnh vực hoạt động khác" value="16" resourcefile="" />
  </position>
  
</settings>