section.dh-contact-1
	.container
		.intro
			h1.h-title.line.text-upper.fw-300 Thông tin liên hệ

		.row


			.col-lg-8
				.wrap-form
					#id
						.form-group.qtext
							input( type="text" placeholder="Họ và tên")
						.form-group.qtext
							input( type="text" placeholder="Email")
						.form-group.qtext
							input( type="text" placeholder="Số điện thoại")
						.form-group.qdropdown
							select
								option Đông Hưng Group
								option Đông Hưng Group
								option Đông Hưng Group
						.form-group.qparagraph 
							textarea(name="Nội dung",placeholder="Nội dung",  rows="8")
					//- .frm-captcha
					//- 	.frm-captcha-input
					//- 		label.label
					//- 			| Nhập mã hiển thị
					//- 		input( maxlength="5" placeholder="Nhập mã hiển thị")
					//- 	.RadCaptcha(style="width:50%;")
					//- 		span(style="visibility:hidden;") Mã không đúng.
					//- 		#ctl00_mainContent_ctl04_captcha_SpamProtectorPanel
					//- 			#ctl00_mainContent_ctl04_captcha_ctl01
					//- 				img(alt=""  style="height:50px;width:180px;display:block;")
					//- 				a.rcRefreshImage(title="Hình ảnh mới" href="#" style="display:block;") Hình ảnh mới
					//- 		input( type="hidden")
					//- #ctl00_mainContent_ctl04_up1(style="display:none;")
					//- 	img(src="/Data/SiteImages/indicators/indicator1.gif" alt=" ")
					.frm-btnwrap
						label.label  
						.frm-btn
							input.frm-btn-submit(type="submit" name="ctl00$mainContent$ctl04$btnSubmit" value="Gửi" )
							input.frm-btn-reset(name="ctl00$mainContent$ctl04$btnReset" type="reset" value="Xóa")
							input#ctl00_mainContent_ctl04_hdnResponseSetGuid(type="hidden" name="ctl00$mainContent$ctl04$hdnResponseSetGuid")
					.clear
			.col-lg-4
				.info
					h3 Công ty Cổ phần Công nghiệp Đông Hưng
					p Đường số 2, KCN Tân Đông Hiệp A, Thị xã Dĩ An, Tỉnh Bình Dương, Việt Nam 
					p Điện thoại: (+84)274-3727015
					p Fax : 0274-3727013
					p Email: info@donghunggroup.com
