section.dh-home-2(style="background-image: url('./img/home/home_about_bg.png')")
	.container
		.row
			.col-lg-6
				.wrapper
					.title-wrapper
						h2.h-title.text-upper Khát vọng đem đến những đôi giày vững chắc cho mỗi bước đi trong cuộc đời
					.briefcontent
						p Với 27 năm hình thành và phát triển không ngừng, Đông Hưng Group gắn liền với khách hàng Việt những sản phẩm giày chất lượng cao và thời trang. Bằng nhà máy sản xuất hiện đại cùng quy trình sản xuất giày tiên tiến, Đông Hưng Group mong muốn là người đồng hành trong một bước đi chinh phục cuộc sống của hàng triệu người tiêu dùng trong nước và thế giới. giày chất lượng cao và thời trang. Bằng nhà máy sản xuất hiện đại cùng quy trình sản xuất giày tiên tiến, Đông Hưng Group mong muốn là người đồng hành trong một bước đi chinh phục cuộc sống của hàn giày chất lượng cao và thời trang. Bằng nhà máy sản xuất hiện đại cùng quy trình sản xuất giày tiên tiến, Đông Hưng Group mong muốn là người đồng hành trong một bước đi chinh phục cuộc sống của hàn
						a(href="#").btn.btn-more.btn-ripple Xem thêm

			.col-lg-6
				.wrapper
					.main-wrapper
						figure
							.box-zoom.bg-linear-black
								img(src='./img/home/home_about_1.jpg', alt='')
							figcaption
								h3 Sản xuất
					.sub-wrapper
						figure
							.box-zoom.bg-linear-black
								img(src='./img/home/home_about_2.jpg', alt='')
							figcaption
								h3 Logistics
						figure
							.box-zoom.bg-linear-black
								img(src='./img/home/home_about_3.jpg', alt='')
							figcaption
								h3 Thương mại
		.row.grid-row-10
			- for ( var x = 1 ; x < 5 ; x++)
				.col-6.col-md-3.grid-col-10.sub
					figure(style="background-image: url('./img/career/career_bg.jpg')")
						.boxzoom
							img(src='./img/home/home_about_icon'+x+'.png', alt='')
						figcaption
							h4 Nhà máy sản xuất đạt tiêu chuẩn quốc tế
