section.dh-home-4
	.container
		h2.h-title.text-upper Truyền thông
		.row.grid-row-10
			.col-lg-6.grid-col-10.main(data-aos="fade-down" data-aos-duration="1500")
				a(href="#").box-item
					figure
						.box-img.bg-linear-black
							img(src='./img/home/home_news_big.jpg', alt='')
						figcaption
							time 23/23/2323
							h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
			.col-lg-6.grid-col-10
				.row.grid-row-10.sub
					.col-sm-6.grid-col-10(data-aos="fade-down" data-aos-duration="1500")
						a(href="#").box-item
							figure
								.box-img.bg-linear-black
									img(src='./img/home/home_news_1.jpg', alt='')
								figcaption
									time 23/23/2323
									h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
					.col-sm-6.grid-col-10(data-aos="fade-down" data-aos-duration="1500")
						a(href="#").box-item
							figure
								.box-img.bg-linear-black
									img(src='./img/home/home_news_2.jpg', alt='')
								figcaption
									time 23/23/2323
									h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
					.col-sm-6.grid-col-10(data-aos="fade-down" data-aos-duration="1500")
						a(href="#").box-item
							figure
								.box-img.bg-linear-black
									img(src='./img/home/home_news_3.jpg', alt='')
								figcaption
									time 23/23/2323
									h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
					.col-sm-6.grid-col-10(data-aos="fade-down" data-aos-duration="1500")
						a(href="#").box-item
							figure
								.box-img.bg-linear-black
									img(src='./img/home/home_news_4.jpg', alt='')
								figcaption
									time 23/23/2323
									h3 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
