.linhvuc-detail-1
	h2
		margin-bottom: rem(30px)
	.swiper-container
		.swiper-slide
			img
				width: 100%
	+mq(down-md)
		padding-top: rem(30px)
		padding-bottom: rem(30px)
	+mq(lg)
		padding-top: rem(60px)
		padding-bottom: rem(60px)