section.linhvuc-detail-1(style="background-image: url(./img/about/about_4_bg.jpg)")
	article.linhvuc-list
		.container
			h2.title.c-white.text-upper Công ty thành viên
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")
					.swiper-slide
						.slide-item
							img(src="./img/linhvuc_ct/linhvuc_ct_logo_slider.jpg", alt="")