section.dh-same-page
	article.same-list
		.container
			.row.no-gutters.same-describe
				.col-md-6
					h2.title.c-black Luôn chú trọng tới con người, môi trường và xã hội trong quá trình phát triển của mình
				.col-md-6
					p Đông Hưng Group cam kết các yêu cầu về Sức khỏe và An toàn, Môi trường làm việc chuyên nghiệp cũng như thực hiện các Trách nhiệm xã hội nhằm xây dựng tương lai vững bền cho cả tập thể và cả cộng đồng xã hội.
			.row.same-items
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/phattrien/phattrien_1.jpg", alt="alt")
						figcaption
							h2.title.c-black Vì môi trường xanh
							p Trong quá trình thiết kế và xây dựng khu nhà xưởng, Đông Hưng Group luôn chú trọng đến cảnh quan, không gian xanh mát, đảm bảo môi trường làm việc xanh, sạch, an toàn cho nhân viên và cộng đồng xung quanh.
							.see-more
								a.btn-more.btn-ripple(href="#") Xem thêm
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/phattrien/phattrien_2.jpg", alt="alt")
						figcaption
							h2.title.c-black An toàn lao động
							p Sức khoẻ và sự an toàn của nhân viên công ty và đối tác là một trong những vấn đề quan trọng và được quan tâm nhất của Đông Hưng Group.
							.see-more
								a.btn-more.btn-ripple(href="#") Xem thêm
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/phattrien/phattrien_3.jpg", alt="alt")
						figcaption
							h2.title.c-black Trách nhiệm xã hội
							p Ý thức được vai trò của doanh nghiệp đối với cộng đồng, trong nhiều năm qua, Đông Hưng Group đã nhiệt tình tham gia các hoạt động xã hội như: xây trường học, chỗ ở cho công nhân viên, trao học bổng cho học sinh nghèo, hiếu học.
							.see-more
								a.btn-more.btn-ripple(href="#") Xem thêm
