section.dh-gallery-1
	article.gallery-list
		.container
			.row.grid-row-10
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
								a(href="./img/gallery/gallery_big_2.jpg" data-fancybox="album-1")
									img(src="./img/gallery/gallery_big_2.jpg", alt="alt")
							figcaption
								span.mdi.mdi-image-multiple
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					a(href="https://www.youtube.com/watch?v=iS6NZ1kESxM" data-fancybox="").item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_big_1.jpg", alt="alt")
							figcaption
								span.mdi.mdi-youtube-tv
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_1.jpg", alt="alt")
							figcaption
								span.mdi.mdi-image-multiple
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_2.jpg", alt="alt")
							figcaption
								span.mdi.mdi-image-multiple
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_3.jpg", alt="alt")
							figcaption
								span.mdi.mdi-youtube-tv
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_4.jpg", alt="alt")
							figcaption
								span.mdi.mdi-image-multiple
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_5.jpg", alt="alt")
							figcaption
								span.mdi.mdi-youtube-tv
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
				.grid-col-10.gallery-item
					.item
						figure
							.box-zoom.bg-linear-black
								img(src="./img/gallery/gallery_6.jpg", alt="alt")
							figcaption
								span.mdi.mdi-image-multiple
								h2 Lễ ký kết hợp tác giữa Tập đoàn Đông Hưng Group và Ngân hàng TMCP Phương Đông
			.row.grid-row-10
				.col-12.grid-col-10
					.load-more
						a(href="javascript:void(0)").btn-ripple Xem thêm