<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<showoption name="Album" value="1"></showoption>
	<showoption name="Video" value="2"></showoption>

	<templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
	<templatelist xsltname="PhatTrienBenVung.xslt" name="Danh sách phát triển bền vững"></templatelist>
	<templatelist xsltname="ChiTietLinhVucHoatDong.xslt" name="Danh sách chi tiết lĩnh vực hoạt động"></templatelist>
	<templatelist xsltname="DSThuVien.xslt" name="Danh sách thư viện"></templatelist>
	<templatelist xsltname="DSTuyenDung.xslt" name="Danh sách tuyển dụng"></templatelist>

	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="ChiTietPhatTrienBenVung.xslt" name="Chi tiết phát triển bền vững"></templatedetail>
	<templatedetail xsltname="CTTuyenDung.xslt" name="Chi tiết tuyển dụng"></templatedetail>

	<position>
		<add name="bài viết Trang chủ" value="1" resourcefile="" />
	</position>
</templates>