section.dh-same-page
	article.same-list
		.container
			.row.no-gutters.same-describe
				.col-md-6
					h2.title.c-black Với hoạt động sản xuất của mình, Đông Hưng Group luôn có khát vọng đem đến những đôi giày bền, đẹp, giá cả phải chăng cho mỗi khách hàng
				.col-md-6
					p Hơn 27 năm hình thành và phát triển không ngừng, Đông Hưng Group gắn liền với khách hàng Việt những sản phẩm giày chất lượng cao và thời trang. Bằng nhà máy sản xuất hiện đại cùng quy trình sản xuất giày tiên tiến, Đông Hưng Group mong muốn là người đồng hành trong một bước đi chinh phục cuộc sống của hàng triệu người tiêu dùng trong nước và thế giới.
