section.dh-same-page
	article.same-list
		.container
			.row.no-gutters.same-describe
				.col-md-6
					h2.title.c-black Với hoạt động sản xuất của mình, Đông Hưng Group luôn có khát vọng đem đến những đôi giày bền, đẹp, giá cả phải chăng cho mỗi khách hàng
				.col-md-6
					p Hơn 27 năm hình thành và phát triển không ngừng, Đông Hưng Group gắn liền với khách hàng Việt những sản phẩm giày chất lượng cao và thời trang. Bằng nhà máy sản xuất hiện đại cùng quy trình sản xuất giày tiên tiến, Đông Hưng Group mong muốn là người đồng hành trong một bước đi chinh phục cuộc sống của hàng triệu người tiêu dùng trong nước và thế giới.
			.row.same-items
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/linhvuc_ct/linhvuc_ct_1.jpg", alt="alt")
						figcaption
							h2.title.c-black Nhà máy sản xuất đạt tiêu chuẩn quốc tế
							p Công ty Cổ phần Công nghiệp Đông Hưng mong muốn trở thành một công ty hàng đầu ở Việt Nam cung cấp giày dép cho người tiêu dùng trong nước và quốc tế.
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/linhvuc_ct/linhvuc_ct_2.jpg", alt="alt")
						figcaption
							h2.title.c-black Quy trình sản xuất hiện đại, nguồn nguyên liệu chất lượng
							p Công ty Cổ phần Công nghiệp Đông Hưng mong muốn trở thành một công ty hàng đầu ở Việt Nam cung cấp giày dép cho người tiêu dùng trong nước và quốc tế.
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/linhvuc_ct/linhvuc_ct_3.jpg", alt="alt")
						figcaption
							h2.title.c-black Nguồn nhân lực dồi dào, tay nghề chuyên môn cao
							p Công ty Cổ phần Công nghiệp Đông Hưng mong muốn trở thành một công ty hàng đầu ở Việt Nam cung cấp giày dép cho người tiêu dùng trong nước và quốc tế.
				.col-12.same-item.box-item
					figure
						.box-zoom.btn-ripple
							img(src="./img/linhvuc_ct/linhvuc_ct_4.jpg", alt="alt")
						figcaption
							h2.title.c-black Nguồn nhân lực dồi dào, tay nghề chuyên môn cao
							p Công ty Cổ phần Công nghiệp Đông Hưng mong muốn trở thành một công ty hàng đầu ở Việt Nam cung cấp giày dép cho người tiêu dùng trong nước và quốc tế.
