section.dh-home-3(style="background-image: url('./img/home/home_grow_bg.jpg')")
	.container
		.row
			.col-lg-6( data-aos="fade-right" data-aos-duration="1500")
				h2.h-title.c-white.text-upper.fw-300 Phát triển bền vững
			.col-lg-6( data-aos="fade-left" data-aos-duration="1500")
				p Đông Hưng Group cam kết các yêu cầu về Sức khỏe và An toàn, Môi trường làm việc chuyên nghiệp cũng như thực hiện các Trách nhiệm xã hội nhằm xây dựng tương lai vững bền cho cả tập thể và cả cộng đồng xã hội.
		.row.gallery(data-aos="fade-up" data-aos-duration="1500")
			.col
				.swiper-button-prev
					span.mdi.mdi-chevron-left
				.swiper-button-next
					span.mdi.mdi-chevron-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide.bg-linear-black
							a(href="#")
								img(src="./img/home/home_grow_slider.jpg", alt="")
								h3 Đông Hưng Group khởi động dự án
									span.h-title.text-upper vì môi trường xanh 2019
						.swiper-slide.bg-linear-black
							a(href="#")
								img(src="./img/home/home_grow_slider.jpg", alt="")
								h3 Đông Hưng Group khởi động dự án
									span.h-title.text-upper vì môi trường xanh 2019
						.swiper-slide.bg-linear-black
							a(href="#")
								img(src="./img/home/home_grow_slider.jpg", alt="")
								h3 Đông Hưng Group khởi động dự án
									span.h-title.text-upper vì môi trường xanh 2019