.dh-nav-2
	.container
		.nav-wrap
			a.nav-toggle(href="javascript:void(0)") Danh mục
			nav
				ul
					li
						a(href="#" data-link="dh-about-1").active Tổng quan
					li
						a(href="#" data-link="dh-about-2") Tầm nhìn - Sứ mệnh
					li
						a(href="#" data-link="dh-about-3") Lịch sử phát triển
					li
						a(href="#" data-link="dh-about-4") Ban lãnh đạo & điều hành 
					li
						a(href="#" data-link="dh-about-5") Thành tựu nổi bật