extends _layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block main
	include ../_components/banner/b-1/index.pug
	include ../_components/nav/n-2/index
	include ../_components/about/a-1/index.pug
	include ../_components/about/a-2/index.pug
	include ../_components/about/a-3/index.pug
	include ../_components/about/a-4/index.pug
	include ../_components/about/a-5/index.pug
	include ../_components/about/a-6/index.pug