extends _layout.pug

block var
	- title = 'Lĩnh vực hoạt động chi tiết'
	- bodyClass = 'linhvuchoatdong-detail-page'

block main
	include ../_components/banner/b-1/linhvuc_ct
	include ../_components/linhvuc_ct/l-1/index