extends _layout.pug

block var
	- title = 'Phát triển bền vững'
	- bodyClass = 'phattrienbenvung-page'

block main
	include ../_components/banner/b-1/linhvuc_ct
	include ../_components/phattrien/p-1/index