extends _layout.pug

block var
	- title = 'Thư viện'
	- bodyClass = 'thuvien-page'

block main
	include ../_components/banner/b-1/thuvien
	include ../_components/nav/n-1/index
	include ../_components/thuvien/t-1/index