extends _layout.pug

block var
	- title = 'Thư viện'
	- bodyClass = 'thuvien-page'

block main
	include ../_components/banner/b-1/thuvien
	include ../_components/nav/n-1/index
	include ../_components/about/a-1/index-tuyendung
	include ../_components/about/a-2/index-tuyendung