header.header
	.container
		.row.grid-row-12
			.col.grid-col-12
				h2.title.text-upper asdfasdf
				a(href="javascript:void(0)").btn-more.btn-ripple Chi tiết
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, architecto doloremque recusandae debitis accusamus maiores ut amet nisi autem magni, sit esse blanditiis unde sed, placeat necessitatibus eius. Expedita, dolores.
			.col.grid-col-12
				h2.title.text-upper asdfasdf
				a(href="javascript:void(0)").btn-more.btn-ripple Chi tiết
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, architecto doloremque recusandae debitis accusamus maiores ut amet nisi autem magni, sit esse blanditiis unde sed, placeat necessitatibus eius. Expedita, dolores.
			.col.grid-col-12
				h2.title.text-upper asdfasdf
				a(href="javascript:void(0)").btn-more.btn-ripple Chi tiết
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, architecto doloremque recusandae debitis accusamus maiores ut amet nisi autem magni, sit esse blanditiis unde sed, placeat necessitatibus eius. Expedita, dolores.
			.col.grid-col-12
				h2.title.text-upper asdfasdf
				a(href="javascript:void(0)").btn-more.btn-ripple Chi tiết
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, architecto doloremque recusandae debitis accusamus maiores ut amet nisi autem magni, sit esse blanditiis unde sed, placeat necessitatibus eius. Expedita, dolores.