header.dh-header
	.header-container
		.header-hamburger.btn-ripple
			span
		.header-logo
			img(src="./img/logo.png", alt="")
		.header-nav
			nav
				ul
					li
						a.active(href="#") Trang chủ
					li
						a(href="#") Giới thiệu
					li
						a(href="#") Lĩnh vực hoạt động
					li
						a(href="#") Phát triển bền vựng
					li
						a(href="#") Truyền thông
					li
						a(href="#") Cơ hội nghề nghiệp
					li
						a(href="#") Liên hệ
		.header-phone
			a(href="tel:(+84)274-3727015") (+84)274-3727015
		.header-bar
			.header-search
				.searchbox
					input(type="text", name="" placeholder="Tìm kiếm...")
					button(type="submit")
						i.mdi.mdi-magnify
			.header-language
				a(href="").language-active EN

