section.dh-about-1
	.container
		.row
			.col-12.main
				h2.h-title.line.text-upper CHÍNH SÁCH ĐÀO TẠO
				figure.box-item
					.box-img.btn-ripple
						img(src='./img/career/career_1.jpg', alt='')
					figcaption
						h3 “Đông Hưng Group luôn chú trọng công tác đào tạo nhằm nâng chất – nâng tầm cho CBNV”
						p Đào tạo, hỗ trợ nhân viên trong việc phát triển kỹ năng và nâng cao trình độ. Xây dựng niềm tin và sự gắn bó lâu dài giữa nhân viên và công ty
		.row.grid-row-10
			- for ( var x = 1 ; x < 5 ; x++)
				.col-6.col-md-3.grid-col-10.sub
					figure(style="background-image: url('./img/career/career_bg.jpg')")
						.boxzoom
							img(src='./img/career/career_icon_'+x+'.png', alt='')
						figcaption
							h4 Các chính sách và quyền lợi mà Công ty dành cho cán bộ nhân viên
				//- .col-6.col-md-3.grid-col-10.sub
				//- 	figure
				//- 		.boxzoom
				//- 			img(src='./img/career/career_icon_'+x+'.png', alt='')
				//- 		figcaption
				//- 			h4 Ban lãnh đạo chia sẻ về quan điểm quản trị, định hướng và chiến lược phát triển của Công ty
					//- .wrapper
					//- 		.block
