section.dh-banner-1
	.banner-wrapper
		.banner-img
			img(src="./img/about/about_banner.jpg", alt="")
		.banner-title
			.banner-title-inner.container
				h1
					| Giới thiệu
					br
					| Đông Hưng Group
				p
					| công ty đầu tư quốc tế đa ngành
					br
					| uy tín tại Việt Nam và khu vực.