section.dh-about-4#dh-about-4
	.container
		.row
			.col-12
				h2.h-title.text-upper.line Ban lãnh đạo & điều hành
				h3 Ban lãnh đạo
			- for ( var x = 0; x < 3 ; x++)
				.col-sm-4.col-6
					figure
						.box-zoom
							img(src='./img/about/about_people.jpg', alt='')
						figcaption
							h4 Ông Hà Duy Hưng
							p CHỦ TỊCH HĐQT 