footer
	background: #fafafa
	padding: r(30px) 0
	border-top: 1px solid #e5e5e5
	.wrapper
		padding-bottom: r(30px)
		display: flex
		flex-wrap: wrap
		align-items: center
		img
			max-height: 70px
			object-fit: contain
			width: 100%
			@media screen and (min-width: $md)
				width: 15%
				padding-right: 1rem
				flex: 0 0 15%

		.detail
			display: flex
			width: 80%
			justify-content: space-between
			padding-left: 1rem
			position: relative
			align-items: center
			@media screen and (max-width: $md)
				width: 100%
				margin-top: 1rem
				flex-direction: column
			&:after
				position: absolute
				top: 0
				left: 0
				display: block
				width: 2px
				height: 100%
				background: color-get($mau, extra)

				content: ''
			.info
				h3
					font-weight: 600
					margin-bottom: .5rem
			.social
				display: flex
				@media screen and (max-width: 992px)
					margin-top: 1rem
				a
					span
						transition: .3s all ease-in-out
						font-size: r(18px)
						+wh(30px)
						+f-center
						color: color-get($mau,text-3)
						border: 1px solid color-get($mau,text-3)
						border-radius: 50%
						padding: 3px
					+ a
						margin-left: .5rem
					&:hover
						text-decoration: none
						@media screen and (min-width: 992px)
							span
								border: 1px solid color-get($mau,extra)
								background: color-get($mau, extra)
								color: color-get($mau,trang)
	.wrapper-link
		border-top: 1px solid #e5e5e5
		padding-top: r(20px)
		display: flex
		justify-content: space-between
		align-items: center
		@media screen and (max-width: 992px)
			flex-direction: column
		.link
			ul
				display: flex
				list-style: none
				li
					+ li
						padding-left: r(22px)
						position: relative
						&:after
							position: absolute
							top: 0
							left: 11px
							display: block
							width: 1px
							height: 80%
							margin-top: 5px
							background: #808080
							content: ''
					a
						color: #808080
					font-size: r(13px)
				@media screen and (max-width: $sm)
					flex-direction: column
					li
						+ li
							padding-left: 0
							padding-bottom: 5px
							&:after
								display: none
			p
				color: #808080
				font-size: r(13px)
		.ex-link
			display: flex
			align-items: center
			@media screen and (max-width: 992px)
				margin-top: 1rem
			@media screen and (max-width: $xs)
				flex-direction: column
				width: 100%
				align-items: flex-start
			p
				font-size: r(12px)
				padding-right: 1rem
				color: #c5c5c5
				@media screen and (max-width: 992px)
					margin-bottom: .5rem
			.custom-select
				padding: 1px
				background: #ffffff
				box-shadow: 0px 0px 0px 1px #c5c5c5 inset
				padding-left: 1px
				position: relative
				min-width: r(220px)
				select
					width: 100%
					-webkit-appearance: none
					background: #ffffff
					padding: 8px 1rem
					border: 0
					&:hover, &:active, &:focus
						outline: none
					option
						font-size: r(14px)
						color: color-get($mau,text-3)
				&:after
					pointer-events: none
					right: 0
					position: absolute
					top: 50%
					transform: translateY(-50%)
					// right: 20px
					width: 40px
					height: 100%
					border-left: 1px solid #c5c5c5
					+faws('\f0dd', $fab, 300)
					line-height: 40px
					text-align: center
					color: #c5c5c5

					
	@media screen and (min-width: 1200px)
		padding-left: rem(270px)
