footer.footer
	.container
		.row
			.col
				.wrapper
					img(src="./img/icon.png", alt="")
					.detail
						.info
							h3 Công ty Cổ phần Công nghiệp Đông Hưng
							p Đường số 2, KCN Tân Đông Hiệp A, Thị xã Dĩ An, Tỉnh Bình Dương, Việt Nam 
							p Điện thoại: (+84)274-3727015 - Fax : 0274-3727013
							p Email: info@donghunggroup.com
						.social
							a(href="#")
								span.fa.fa-facebook
							a(href="#")
								span.fa.fa-youtube 
		.row
			.col
				.wrapper-link
					.link
						ul
							li
								a(href="#") Sơ đồ trang web
							li
								a(href="#") Chính sách bảo mật
							li
								a(href="#") Điều khoản sử dụng
						p © 2018 Đông Hưng Group. All rights reserved. Designed by Cánh Cam.
					.ex-link
						p Đông Hưng Group
						select
							option Đông Hưng Group
							option Đông Hưng Group
							option Đông Hưng Group



