section.dh-home-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src='./img/home/home_banner_slider_1.jpg', alt='')
					.container
						h1 Đông Hưng Group hướng đến trở thành công ty đầu tư quốc tế đa ngành uy tín tại Việt Nam và khu vực.
							span.mdi.mdi-arrow-down

			.swiper-slide
				a(href="#")
					img(src='./img/home/home_banner_slider_2.jpg', alt='')
					.container
						h1 Sản xuất và xuất khẩu các sản phẩm thời trang với quy mô lớn cùng chất lượng sản phẩm đạt tiêu chuẩn quốc tế
							span.mdi.mdi-arrow-down

			.swiper-slide
				a(href="#")
					img(src='./img/home/home_banner_slider_3.jpg', alt='')
					.container
						h1 Chuyên phân phối các thương hiệu thời trang Quốc tế hàng đầu, cung cấp các sản phẩm giày da và túi xách cao cấp.
							span.mdi.mdi-arrow-down

