.dh-truyenthong-ct
	padding-top: r(40px)
	padding-bottom: r(70px)
	@media screen and (max-width: 992px)
		padding: r(30px) 0
	h1
		padding-bottom: .5rem
	time
		display: block
	.item
		margin-top: 1rem
	img
		width: 100%
		margin: 1rem 0
	.full-content
		padding: 1rem 0
		margin: 1rem 0
		border-top: 1px solid #d5d5d5
		border-bottom: 1px solid #d5d5d5
	.other
		h2
			font-size: r(24px)
			color: color-get($mau,text-3)
			padding-bottom: 1rem
		.swiper-button-prev
			width: 40px
			height: 40px
			background-image: none
			z-index: 2
			left: -.5rem
			top: 65%
			// transform: translateY(-50%)
			+f-center
			color: color-get($mau,text-9)
			@media screen and (min-width: $sm)
				left: 0
			@media screen and (min-width: 1500px)
				left: -2rem
			&.swiper-button-disabled
				pointer-events: initial
			span
				font-size: r(40px)
			transition: .3s all ease-in-out
			&:hover, &:active, &:focus
				outline: none
		.swiper-button-next
			width: 40px
			height: 40px
			+f-center
			background-image: none
			z-index: 2
			right: -.5rem
			top: 65%
			// transform: translateY(-50%)
			color: color-get($mau,text-9)
			@media screen and (min-width: $sm)
				right: 0
			@media screen and (min-width: 1500px)
				right: -2rem

			&.swiper-button-disabled
				pointer-events: initial

			span
				font-size: r(40px)
			transition: .3s all ease-in-out
			&:hover, &:active, &:focus
				outline: none
		.swiper-container
			.swiper-slide
				a
					.news-wrapper
						padding: r(28px) r(28px)
						transition: .3s all ease-in-out
						background: #f8f8f8
						color: color-get($mau,text-3)
						transition: .3s all ease-in-out
						h3
							font-size: r(18px)
						time
							transition: .3s all ease-in-out
							font-size: r(14px)
							display: block
							margin-top: .5rem
							color: color-get($mau,text-9)
				&:hover
					a
						text-decoration: none
						.news-wrapper
							background: color-get($mau, main)
							color: color-get($mau,trang)
