section.dh-truyenthong-ct
	.container
		.row
			.col
				h1.h-title.fw-600 Đông Hưng Group đồng hành cùng các phong trào văn hóa thể thao cộng đồng
				time 10/10/1010
				.item
					.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
						a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
				.full-content
					p Ý thức được vai trò của doanh nghiệp đối với cộng đồng, trong nhiều năm qua, Đông Hưng Group đã nhiệt tình tổ chức và tham gia các hoạt động văn hoá thể thao cộng đồng nhằm kết nối cộng đồng.
					img(src="./img/media_detail/media_detail_1.jpg", alt="")
					.item
						.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
							a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ

		.row.grid-row-10
			.col.grid-col-10.other
				h2 Tin tức khác:
				.swiper-button-prev
					span.mdi.mdi-chevron-left
				.swiper-button-next
					span.mdi.mdi-chevron-right
				.swiper-container
					.swiper-wrapper
						- for ( var x = 1; x < 8; x++)
							.swiper-slide( data-aos="fade-right")
								a(href="#")
									.news-wrapper
										h3 Chuyện kể của những đôi giày - Ông Hà Duy Hưng - Chủ tịch HĐQT Đông Hưng Group
										time 10/01/2019