section.dh-linhvuc-1
	article.linhvuc-list
		.container
			.row.grid-row-10.linhvuc-row
				.col-12.grid-col-10.linhvuc-item
					figure
						.box-img.btn-ripple
							img(src="./img/linhvuc/linhvuc_big.jpg", alt="alt")
						figcaption
							h2.title.c-black.text-upper Thương mại
							p Ngành sản xuất Công nghiệp Da giày của Dong Hung Group luôn duy trì vị trí dẫn đầu trên thị trường và lợi thế cạnh tranh trong ngành.
							a.btn-more.btn-ripple(href="#") Chi tiết
				.col-md-6.grid-col-10.linhvuc-item
					figure
						.box-img.btn-ripple
							img(src="./img/linhvuc/linhvuc_small_1.jpg", alt="alt")
						figcaption
							h2.title.c-black.text-upper Logistics
							p Dong Hung Logistics cung cấp các dịch vụ kho vận và logistics đa dạng.
							a.btn-more.btn-ripple(href="#") Chi tiết
				.col-md-6.grid-col-10.linhvuc-item
					figure
						.box-img.btn-ripple
							img(src="./img/linhvuc/linhvuc_small_2.jpg", alt="alt")
						figcaption
							h2.title.c-black.text-upper Thương mại
							p Phân phối các thương hiệu thời trang Quốc tế hàng đầu.
							a.btn-more.btn-ripple(href="#") Chi tiết
				.col-md-6.grid-col-10.linhvuc-item
					figure
						.box-img.btn-ripple
							img(src="./img/linhvuc/linhvuc_small_3.jpg", alt="alt")
						figcaption
							h2.title.c-black.text-upper Lĩnh vực khác
							p Đông Hưng Group còn đầu tư kinh doanh vào bất đông sản và du lịch.
							a.btn-more.btn-ripple(href="#") Chi tiết